.no-events-tile-container {
    display: flex;
    width: 100%;
    margin: 10px 0;
    background: var(--white);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 1px var(--light-grey);
    outline: none;
}

.no-events-text {
    padding: 10px 10px;
    color: var(--dark-grey);
}