.profile-tile-container{
    margin: 20px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    max-height: 50px;
}

.profile-tile-name{
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tile-profile-pic {
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
}

.profile-tile-remove-user-container{
    position: relative;
}

.profile-tile-remove-user{
    position: absolute;
    top: -5px;
    left: -10px;
    width: 1.2rem;
    cursor: pointer;
}