.comment-bar-container{
    display: flex;
    margin-bottom: 10px;
}

.comments-bar-profile-pic{
    border-radius: 50%;
    border: solid var(--off-white);
    border-width: 2px;
    height: 32px;
    width: 32px;
    object-fit: cover;
}

.comment-bar-input-text{
    width: 100%;
    margin-left: 5px;
    border-radius: 10px;
    padding: 5px 10px;
}