.overlay-container {
    animation: fadein 0.15s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.main-signin-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    width: 280px;
    border-radius: 6px;
    background-color: var(--white);
    padding: 25px;
}

.input-label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    padding: 7px 0;
    font-size: clamp(1rem, 2.5vmin, 1rem);
}

.login-register-form {
    display: flex;
    flex-direction: column;
}

.login-register-form p {
    font-size: 1rem;
    margin: 23px 0;
}

.form-input-text {
    border: 1px solid #bbc0c5;
    padding: 0.6rem;
    width: 100% !important;
}

.form-title {
    text-align: center;
    font-weight: 500;
    font-size: clamp(1.5rem, 2.5vmin, 1.6rem);
    margin: 0.7rem 0;
}

.form-link {
    color: var(--hyperlink-blue);
    font-size: 0.75rem;
    margin: 20px 0;
    cursor: pointer;
    width: max-content;
}

.form-link:hover {
    color: #00538F;
}

.create-new-account-link-container {
    display: inline-flex;
    justify-content: center;
    margin-top: 14px;
}

.form-title-back {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.form-back-arrow {
    position: absolute;
    top: 39px;
    left: 25px;
    width: 1.5rem;
    cursor: pointer;
}

.register-success-tick {
    width: 2rem;
    padding-bottom: 10px;
    margin: 0 auto;
}

.error-message {
    font-size: 0.85rem;
    color: var(--angry);
    padding: 10px 0 4px;
    font-weight: 400;
}