.custom-button {
    border: 0;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

/* .custom-button:hover {
    opacity: 0.85;
} */