.event-comments-wrapper {
    padding: 10px 20px;
    background: var(--white);
    margin: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 1px var(--light-grey);
    outline: none;
}