.event-details-wrapper {
    padding: 10px 20px;
    background: var(--white);
    margin: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 1px var(--light-grey);
    outline: none;
}

.event-details-left-right{
    display: flex;
    position: relative;
}

.event-details-left{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
}

.event-details-right{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
}

.event-details-header{
    display: flex;
    flex-direction: column;
}

.event-details-header-top{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
}

.event-details-header-bottom {
    border-bottom: 2px solid var(--light-grey);
    width: 100%;
    font-size: 0.9em;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.event-title-container {
    max-width: 380px;
}

.event-title{
    margin: 0;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.host-name-container{
    font-size: 0.8em;
    color: var(--dark-grey);
    margin-right: 5px;
}

.host-name{
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.days-left-container{
    color: var(--dark-grey);
}

.description-container{
    margin: 40px 0;
    min-height: 120px;
}

.event-image-container{
    width: 210px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-bottom: 30px;
    margin-right: 30px;
}

/* On screens that are 750px or less */
@media screen and (max-width: 750px) {
    .event-title-container {
        max-width: calc(100% - 200px);
    }
}

/* On screens that are 1000px or less */
@media screen and (max-width: 1000px) {
    .event-details-left-right{
        display: block;
    }
}