.invite-friends-overlay-container {
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--off-white);
    border-radius: 15px;
    overflow-y: auto;
    padding: 0 50px;
}

.invite-friends-container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    max-height: 400px;
    overflow-y: auto;
}

.invite-friend-container{
    display: flex;
    align-items: center;
}