.event-directions-wrapper {
    padding: 10px 20px;
    background: var(--white);
    margin: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 1px var(--light-grey);
    outline: none;
}

.location-name{
    color: var(--button-blue);
}

.map-container{
    margin-top: 20px;
    margin: 10px auto;
}