.comment-container{
    display: flex;
    margin: 5px 0;
}

.comments-profile-pic{
    border-radius: 50%;
    border: solid var(--off-white);
    border-width: 2px;
    height: 32px;
    width: 32px;
    object-fit: cover;
}

.comment-input-text{
    width: 100%;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px var(--light-grey);
    padding: 5px 10px;
}