.create-edit-event-details-container {
    margin: 100px auto;
    background: var(--white);
    border-radius: 10px;
    width: 640px;
}

.create-edit-event-details-wrapper {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.back-arrow{
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 500;
}

.create-edit-location-container input {
    width: 100%;
}

.create-edit-left-right-section {
    display: flex;
}

.create-edit-left-section,
.create-edit-right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.create-edit-left-section {
    margin-right: 10px
}

.create-edit-right-section {
    margin-left: 10px
}

.create-edit-event-map-container{
    margin: 0 auto;
    margin: 10px auto;
}

.create-edit-event-detail-input {
    width: 100%;
}

.checkbox{
    width: auto;
    vertical-align: middle;
}

.checkbox-text{
    display: inline-block;
}

.create-edit-event-detail-container {
    margin: 10px 0;
    position: relative;
}

.create-edit-event-detail-name {
    margin-bottom: 5px;
    display: block;
}

.create-edit-event-buttons-container {
    display: flex;
    justify-content: flex-end;
}

.remove-cover-photo-link{
    font-size: 0.8em;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 10px;
}

/* On screens that are 750px or less */
@media screen and (max-width: 750px) {
    .create-edit-event-details-container {
        width: 100%;
        margin: 0;
    }
}