.event-tile{
    background: var(--white);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 1px var(--light-grey);
    outline: none;
}

.event-tile-container {
    display: flex;
    width: 100%;
    min-height: 120px;
    max-height: 120px;
    margin: 10px 0;
    margin-bottom: 0;
    overflow: hidden;
    cursor: pointer;
}

.event-tile-image-container{
    min-width: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 10px;
}

.event-tile-details{
    min-width: 0;
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-tile-details-top-row{
    display: flex;
    justify-content: space-between;
}

.event-tile-details-middle-row{
    display: flex;
    flex-direction: column;
}

.event-tile-details-bottom-row{
    display: flex;
    justify-content: flex-end;
}

.event-tile-title{
    font-size: 1.2em;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.event-tile-days-left,
.event-tile-location {
    font-weight: 500;
    color: var(--dark-grey);
    font-size: 0.8em;
    flex-shrink: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 130px;
}

.event-tile-start-date {
    font-weight: 500;
    font-size: 0.8em;
}

.event-tile-people-going {
    font-weight: 500;
    font-size: 0.8em;
}

.event-tile-comments-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px;
}

.view-more-comments{
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8em;
    padding-top: 5px;
}

.view-more-comments:hover{
    text-decoration: underline;
}

@media screen and (max-width: 650px) {
    .event-tile-container{
        border-radius: 0;
    }
}

@media screen and (max-width: 500px) {
    .event-tile-image-container{
        min-width: 150px;
    }
}