.event-details-container {
    margin-top: 100px;
    border-radius: 10px;
}

.event-buttons-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.event-guest-list-wrapper {
    padding: 10px 20px;
    background: var(--white);
    margin: 5px;
    max-height: 770px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 1px var(--light-grey);
    outline: none;
    overflow-y: auto;
}

.sign-in-to-view{
    text-align: center;
}