.profile-card {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 410px;
    background-color: var(--white);
    padding: 75px 20px 100px;
    margin: 105px auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 1px var(--light-grey);
    align-items: center;
}

.profile-img {
    height: 145px;
    width: 145px;
    object-fit: cover;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--white);
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile-img-overlay {
    height: 145px;
    width: 145px;
    border-radius: 50%;
    background: #000;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s ease;
    cursor: pointer;
}
.profile-img-overlay:hover {
    opacity: 0.3;
}

.upload-icon {
    height: 28px;
    width: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: .20s ease;
    z-index: 2;
    cursor: pointer;
}
.profile-img-overlay:hover .upload-icon {
    opacity: 1;
}

.private-public-container {
    
}
.private-status {
    z-index: 1;
    background: var(--dark-grey);
    border-radius: 5px;
    padding: 2px;
    color: white;
    font-size: 0.8em;
}
.public-status {
    z-index: 1;
    background: var(--green);
    border-radius: 5px;
    padding: 2px;
    color: white;
    font-size: 0.8em;
}

.profile-info {
    margin-top: 85px;
}
.profile-info > * {
    display: block;
    text-align: center;
}
.profile-info p {
    line-height: 0.9;
}
.profile-info h1 {
    margin: 2.5rem 0 0.85rem;
}

.image-edit-section {
    display: grid;
    grid-auto-flow: column;
}

.edit-section-container {
    margin: 20px 0;
}

.profile-edit-row {
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.profile-edit-left-right-section {
    display: flex;
}

.profile-edit-left-section,
.profile-edit-right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.profile-edit-left-section {
    margin-right: 10px
}

.profile-edit-right-section {
    margin-left: 10px
}

.profile-edit-row-label {
    margin-bottom: 5px;
    display: block;
}

.profile-edit-input {
    width: 100%;
}

.profile-buttons-container {
    margin-top: 50px;
}

/* On screens that are 500px or less */
@media screen and (max-width: 500px) {
    .profile-card {
        width: 100%;
    }
}