.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  background: var(--light-blue);
  padding: 14px 0;
}

.nav-container-left, .nav-container-right {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-container-left {
  margin-left: 42px;
}

.nav-container-right {
  margin-right: 42px;
}

.nav-logo {
  height: 42px;
}

.nav-title {
  margin: 0;
  font-weight: 500;
  font-size: clamp(1.4rem, 2vmin, 1.5rem);
  cursor: default;
}

.nav-item {
  margin: 0px 28px;
  font-weight: 500;
  cursor: pointer !important;
  height: 100%;
  font-size: clamp(1rem, 2vmin, 1.1rem);
  align-items: center;
  display: flex;
}

.nav-profile-pic{
  border-radius: 50%;
  border: solid var(--off-white);
  border-width: 2px;
  height: 32px;
  width: 32px;
  object-fit: cover;
}

/* On screens that are 1000px or less */
@media screen and (max-width: 1000px) {
}

/* On screens that are 750px or less */
@media screen and (max-width: 750px) {
}

/* On screens that are 650px or less */
@media screen and (max-width: 650px) {
  .nav-container-left {
    margin-left: 0;
  }

  .nav-container-right {
    margin-right: 0;
  }

  .nav-title {
    display: none;
  }

  .nav-item {
    margin: 0px 10px;
  }
}

/* On screens that are 500px or less */
@media screen and (max-width: 500px) {
  .nav-item {
    margin: 0px 5px;
  }
}
