.notifications-wrapper{
    position: relative;
}

.notification-panel-container {
    position: absolute;
    color: var(--black);
    z-index: 99;
    top: 47px;
    right: 15px;
    width: 286px;
    background-color: var(--white);
    box-shadow: 0 5px 6px rgb(0 0 0 / 15%);
    border-radius: 5px;
    border: 1px solid var(--border-grey);
}

.notification-container {
    display: block;
    padding: 13px 16px;
    border-bottom: 1px solid var(--border-grey);
}

.notification-panel-arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--white);
    position: absolute;
    z-index: 100;
    top: 40px;
    right: 30px;
}

.bell-icon {
    width: 32px;
    cursor: pointer;
    display: flex;
    margin: 0 22px;
}

.badge {
    position: absolute;
    z-index: 99;
    top: 17px;
    right: 151px;
    font-size: 0.7rem;
    padding: 1px 5px;
    border-radius: 50%;
    background: var(--angry);
    color: white;
    cursor: pointer;
}

.notification-title {
    margin: 0;
    border-bottom: 1px solid var(--border-grey);
    font-size: clamp(16px, 2.5vmin, 18px);
    font-weight: 500;
    padding: 12px 16px;
}

.notification-profile-img {
    border-radius: 50%;
    border: solid var(--off-white);
    border-width: 2px;
    height: 36px;
    width: 36px;
    object-fit: cover;
    cursor: pointer;
}

.notification-img-msg {
    display: flex;
}

.notification-message-buttons {
    font-size: 1rem;
    margin: 0 12px;
}

.notification-message-buttons p {
    margin: 0;
}

.notification-button-wrapper {
    margin-top: 8px;
}

.notification-profile-name-link {
    margin: 0;
    cursor: pointer;
    color: var(--hyperlink-blue);
}
.notification-profile-name-link p {
    margin: 0;
}

.notification-buttons {
    display: flex;
}

.no-new-notifications{
    margin: 10px 0;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .bell-icon {
        margin: 0;
    }

    .notification-panel-container {
        right: 0px;
    }

    .notification-panel-arrow {
        right: 8px;
    }
}