footer {
    background: var(--light-blue)
}

.footer-logo{
    max-width: 80px;
    padding-bottom: 15px;
}

.footer-top-section {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.footer-bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links a {
    cursor: pointer;
}

.footer-social-media-links a {
    margin: 0 10px;
    cursor: pointer;
}

.footer-copyright-text{
    margin-top: 25px;
}

@media screen and (max-width: 500px) {
    .footer-top-section{
        flex-direction: column;
    }

    .footer-links{
        margin: 5px 0;
    }
}