.find-friends-container{
    display: flex;
    margin: 100px auto;
    border-radius: 10px;
    justify-content: center;
}

.find-friends-wrapper {
    padding: 10px 20px;
    background: var(--white);
    margin: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 1px var(--light-grey);
    outline: none;
    width: 450px;
}

.find-friends-header-container{
    display: flex;
    justify-content: center;
    position: relative;
}

.find-friends-input{
    margin-right: 10px;
}

.find-users-container{
    position: absolute;
    height: 500px;
    z-index: 99;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--off-white);
    border-radius: 15px;
    overflow-y: auto;
    padding: 0 50px;
}

/* On screens that are 500px or less */
@media screen and (max-width: 500px) {
    .find-friends-wrapper {
        width: 100%;
    }
}