.filter-panel-container{
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-wrap: wrap;
}

.filter-panel {
    display: flex;
    justify-content: space-evenly;
    background: var(--white);
    padding: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 1px var(--light-grey);
    outline: none;
    margin-top: 50px;
    width: 100%;
}

.filter-panel-text {
    margin: 0 5px;
}

.filter-type-container{
    margin:0 10px;
    max-width: 260px;
}

.filter-select-box{
    margin: 0 5px;
    font-family: 'roboto', sans-serif;
    border-width: 1px;
    border-color: var(--light-grey);
    border-style: solid;
    padding: 5px;
    border-radius: 3px;
}

.sort-by-select{
    width: 100px;
}

.filter-item-container{
    width: 100%;
}

.filter-tags-container{
    display: flex;
    flex-wrap: wrap;
}

/* On screens that are 750px or less */
@media screen and (max-width: 750px) {
  .filter-panel {
    display: flex;
    background: var(--white);
    padding: 10px;
    border: none;
    margin-top: 0;
    border-radius: 0;
  }
  
  .filter-panel-container{
      padding: 0;
      width: 100%;
  }
}

/* On screens that are 500px or less */
@media screen and (max-width: 500px) {
    .sort-by-select{
        width: auto;
    }
}