.cover-container {
    padding: 3vh 0 19vh;
    background: var(--light-blue);
    /* background-image: linear-gradient(to right top, #91d7f2, #74bcf5, #7d9bee, #9f73d3, #bc3ca1);
    background-attachment: fixed; */
    text-align: center;
}

.cover-title {
    font-weight: 900;
    font-size: 64px;
    font-family: 'roboto', sans-serif;
    padding: 0 10px;
    line-height: 1;
}

.cover-subtitle {
    font-family: 'nunito', sans-serif;
}

.title-subtitle {
    width: 35rem;
    font-size: clamp(1.4rem, 2.5vmin, 1.5rem);
    margin: 0 auto;
    line-height: 1.4;
}

.popular-events-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.banner-img img {
    width: clamp(28rem, 41vmin, 34rem);
    margin: 2.5rem 0;
}

.login-video {
    width: 100%;
    height: 100%;
}

.cover-middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.cover-sub-title {
    color: var(--white);
    font-size: 2em;
    text-shadow: 2px 2px var(--dark-blue);
}

.widget{
    background-color: var(--dark-blue);
    padding: 30px;
    border-radius: 20px;
    position: relative;
}

.widget-x-button{
    position: absolute;
    top: 5px;
    right: 15px;
    color: var(--white);
    cursor: pointer;
}

.login-register-form-input{
    border: 0;
    height: 20px;
    margin-bottom: 10px;
}

.cover-middle-left-section{
    padding: 0 20px;
    max-width: 540px;
}

.cover-middle-right-section{
    padding: 0 20px;
    min-width: 290px;
    max-width: 290px;
}

.register-success-message-container * {
    margin-bottom: 10px;
}

.register-success-message-container{
    text-align: center;
    font-size: 1.2em;
    color: var(--white);
}

.widget-error-message{
    color: var(--angry);
    font-weight: bold;
    min-height: 25px;
}

.landing-page-container {
    width: 100%;
}

.landing-page-event-tile-container{
    height: 300px;
    width: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid var(--off-white);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.landing-page-event-tile-title{
    color: var(--off-white);
    background-color: var(--black);
    padding: 10px 0;
    width: 100%;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
}

.explore-popular-events{
    margin: 100px 0;
    text-align: center;
}

/* On screens that are 650px or less */
@media screen and (max-width: 650px) {
    .cover-title{
        font-size: 20px;
    }

    .cover-subtitle{
        font-size: 15px;
    }

    .title-subtitle{
        width: 100%;
    }

    .popular-events-container{
        flex-direction: column;
    }

    .landing-page-event-tile-container{
        width: 100%;
        height: 100px;
    }
}

/* On screens that are 500px or less */
@media screen and (max-width: 500px) {
    .banner-img img {
        width: clamp(15rem, 41vmin, 34rem);
    }
}