body {
    overflow: hidden;
}

.image-upload-overlay-container {
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--off-white);
    border-radius: 15px;
    padding: 10px 50px;
    width: 60vw;
}

.overlay-box input:hover {
    cursor: pointer;
}

.image-upload-overlay-buttons-container{
    margin-top: 10px;
}