:root {
  --dark-blue: rgb(81, 150, 166);
  --light-orange: rgb(242, 149, 94);
  --dark-orange: rgb(242, 80, 65);
  --white: rgb(255, 255, 255);
  --light-blue: rgb(145, 215, 242);
  --facebook-blue: rgb(66, 103, 178);
  --button-blue: rgb(0, 122, 255);
  --hyperlink-blue: rgb(0, 119, 204);
  --black: rgb(0, 0, 0);
  --almost-black: rgb(4, 43, 62);
  --light-grey: rgb(230, 230, 230);
  --light-green: rgb(51, 255, 0);
  --orange: rgb(255, 136, 0);
  --angry: rgb(255, 0, 0);
  --dark-grey: rgb(128, 128, 128);
  --green: rgb(50, 205, 50);
  --off-white: rgb(239, 241, 246);
  --border-grey: rgb(238, 240, 245);
}

body {
  font-family: "roboto", sans-serif;
  font-size: clamp(16px, 2.5vmin, 18px);
  color: var(--almost-black);
}

h1 {
  font-size: clamp(1.75rem, 5vmin, 2.5rem);
}

h2 {
  font-size: clamp(1.5rem, 4vmin, 2rem);
}

h3 {
  font-size: clamp(1.2rem, 3.5vmin, 1.75rem);
}

h4 {
  font-size: clamp(1.1rem, 3vmin, 1.5rem);
}

h5 {
  font-size: clamp(1rem, 2.5vmin, 1.2rem);
}

input,
textarea {
  font-family: "roboto", sans-serif;
  border-width: 1px;
  border-color: var(--light-grey);
  border-style: solid;
  padding: 5px;
  border-radius: 3px;
}

.signin-button {
  color: var(--white);
  font-weight: 400;
  font-size: clamp(1rem, 2vmin, 1.1rem);
  font-family: "roboto", sans-serif;
  background-color: rgb(0, 0, 0);
  border: 0;
  border-radius: 16px;
  padding: 6px 22px;
  margin: 0 18px;
  cursor: pointer;
  transition: ease-in-out 0.15s;
}
.signin-button:hover {
  background-color: #2b4048;
}

.full-height {
  align-items: center;
  min-height: calc(100vh - 43px);
  display: flex;
  padding-bottom: 100px;
  flex-flow: column;
  background: var(--off-white);
}

.global-middle-section {
  width: 60%;
  margin: 0 auto;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-overlay-container {
  position: absolute;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--off-white);
  border-radius: 15px;
  overflow-y: auto;
  padding: 20px 50px;
}

.yes-no-buttons-container {
  display: flex;
  flex-direction: row;
}

.error-msg {
  color: red;
}

/* On screens that are 1000px or less */
@media screen and (max-width: 1000px) {
}

/* On screens that are 750px or less */
@media screen and (max-width: 750px) {
  .global-middle-section {
    width: 100%;
    margin: 0 auto;
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .event-details-container {
    width: 100%;
  }
}

/* On screens that are 500px or less */
@media screen and (max-width: 500px) {
  .signin-button {
    font-size: clamp(0.9rem, 2vmin, 1.1rem);
    padding: 5px 10px;
    margin: 0 5px;
  }
}
