.events-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.events-list-container{
    justify-content: center;
    width: 600px;
}

.events-list-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.events-list-header-left{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .events-list-container{
        width: 100%;
    }

    .events-list-header{
        padding: 0 15px;
    }
}